# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
venv/
env/
.venv/

# Database
db.sqlite3
db.sqlite3-journal

# Media
media/

# Static
staticfiles/

# Logs
*.log

# Debug files
debug.txt

# Test outputs
test_output.html

# OS files
.DS_Store
Thumbs.db

# VS Code / IDEs
.vscode/
.idea/